.Auth {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 
        [left-padding-start] minmax(2rem, 1fr) [left-padding-end 
        form-start] minmax(20rem, 30rem) [form-end 
        right-padding-start] minmax(2rem, 1fr) [right-padding-end];
    grid-template-areas: '. form .';
    align-items: center;

    form {
        grid-area: form;
        display: grid;
        grid-gap: 1rem;
    }
}