input,
label,
button,
p {
    color: $color-honeydew;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 200;
    margin: 0;
}

h2 {
    display: block;
    color: $color-honeydew;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    display: block;
    color: $color-honeydew;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    display: block;
    color: $color-honeydew;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
}